<!DOCTYPE html>
<head>
  <script src = "../js/Scroll_Board.js"></script>
</head>
<body>
  <title>{{ board_name }}</title>
  <table border="1">
    <tr>
      {% for head in board_head %}
        <th> {{ head }} </th>
      {% endfor %}
    </tr>
    {% for row in board.values() %}
      <tr>
        <!-- <th> {{ rank }} </th> -->
        <th> 1 </th>
        <th> {{ row["team_name"] }} </th>
        {% for item in row["submit_problem"].values() %}
          {% if item[2] %}
            {% if item[1] == 1 %}
              <th> + </th>
            {% else %}
              <th> + {{ item[1] - 1 }}</th>
            {% endif %}
          {% else %}
            {% if item[1] == 0 %}
              <th></th>
            {% elif item[1] == 1 %}
              <th> - </th>
            {% else %}
              <th> - {{ item[1] }} </th>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</body>